.item {
    margin-top: 20px;
    width: 600px;
    padding: 15px;
    background-color: #dfe3ee;
    border-radius: 15px;
    display: flex;
}
.topInfo {
    display: flex;
    justify-content: space-between;
}
.dataWrapper {
    width: 100%;
    padding-left: 10px;
}
.dataUser {
    display: flex;
    align-items: baseline;
}
.dataUser span {
    font-weight: bold;
}

.message {
    margin-top: 7px;
}
.likeCount {
    display: flex;
    justify-content: flex-end;
}
.deleteBtn{
    padding: 0;
}
.deleteBtn .MuiButton-text{
    padding: 0;

}