.diologs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.diologsItems {
    padding: 10px;
}
.diologsItems .active {
    color: #e5eaf5;
}
.diolog {

}
.massages {
    padding: 10px;
}
.massages .massage{

}
