.nav {
    grid-area: n;
    padding-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.list {
    list-style: none;
    padding: 0;
    width: 100%;
}
.item {
    margin-bottom: 6px;
    padding: 5px 10px;
    border-radius: 20px;
    transition: .4s;
}
.item a{
    text-decoration: none;
    color: #C0C0C0;
    list-style: none;
    font-weight: bold;
    font-family: system-ui;
    display: flex;
    transition: .4s;
}
.item a svg{
    margin-right: 5px;
}
.item a.activeLink {
    color: #000;
}
nav .item:hover {
    border-radius: 25px;
    transition: .7s;
    background-color: rgba(0, 0, 0, 0.08);

}
nav .item a:hover {
    color: black;

}